@font-face {
    font-family: inter;
    src: url(./assets/fonts/Inter-VariableFont_slnt\,wght.ttf);
}

* {
    font-family: inter;
}

body {
    min-width: fit-content;
    margin: 12.8% 0;
    height: auto;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsl(0, 0%, 8%);
}

img {
    border-radius: 50%;
    height: 5.5rem;
}

#card {
    border-radius: 0.8rem;
    padding: 2.5rem;
    background-color: hsl(0, 0%, 12%);
    text-align: center;
    color: white;
}

.bio p:nth-child(1) {
    font-size: 1.5rem;
    margin-bottom: 0;
}

.bio p:nth-child(2) {
    margin-top: 0.5rem;
    margin-bottom: 1.8rem;
    font-size: 0.9rem;
    font-weight: 600;
    color: hsl(75, 94%, 57%);
    background-color: transparent;
}

.bio p:nth-child(3) {
    font-size: 0.9rem;
    margin-bottom: 1.6rem;
}

.btns {
    display: grid;
    row-gap: 1rem;
    width: 19rem;
}

button {
    border: none;
    border-radius: 0.5rem;
    font-size: 0.9rem;
    font-weight: 600;
    background-color: hsl(0, 0%, 20%);
    color: hsl(0, 0%, 100%);
    height: 2.8rem;
    transition-duration: 0.4s;
}

button:hover, button:focus {
    background-color: hsl(75, 94%, 57%);
    color: black;
    cursor: pointer;
}

@media (max-width: 375px) {

    body {
        margin: 30% 0;
    }

    #card {
        padding: 1.5rem 1.4rem;
    }

    .btns {
        width: 17.5rem;
    }

    button {
        padding: 0;
    }
}